<p>Tramwaj: <%= shortName %></p>
<p>Szacowana Predkosc: <%= calculatedSpeed %></p>

<i class="glyphicon glyphicon-chevron-up hideInfo"></i>
<!--bearing-->
<!--:-->
<!--300.5859893866913-->
<!--calculatedSpeed-->
<!--:-->
<!--12.874334982830806-->
<!--description-->
<!--:-->
<!--null-->
<!--fullName-->
<!--:-->
<!--"6-5 v: 12.874334982830806 kph course: 300.5859893866913"-->
<!--lat-->
<!--:-->
<!--52.2488098-->
<!--lon-->
<!--:-->
<!--21.0447693-->
<!--nextLat-->
<!--:-->
<!--52.249104363223665-->
<!--nextLon-->
<!--:-->
<!--21.043955288387497-->
<!--providerId-->
<!--:-->
<!--"warsaw-trams"-->
<!--shortName-->
<!--:-->
<!--"6"-->
